#third{
    background-color: white;
    .title{
        h2{
            font-size: 50px;
            font-weight: 800;
            line-height: 70px;
            letter-spacing: -1.2px;
        }
    }
    .text{
        color: #9c9c9c;

        font-size: 16px;
    }
}