#second{
    padding-top: 40px;
    .firstCart{
        position: relative;
        border: 1px solid black;
        padding: 40px;
        width: 550px;
        height: 372px;
        .title_PRo{
            text-align: start !important;
            h2{
                font-family: "Visby CF", Sans-serif !important;
                font-weight: 600;
                font-size: 20px;
            }
        }
        .text{
            margin-top: 20px;
            p{
                font-family: "Visby CF", Sans-serif !important;

            }
        }
    
    }
}