#education{
    padding: 50px;
    .title{
        h1{
            font-family: "Visby CF", Sans-serif !important;
            font-size: 36px;
            font-weight: 800;
            line-height: 70px;
            letter-spacing: -1.2px;

        }
    }
    form{
        margin-top: 20px;
        input {
            display: none;
          }
        
          input + label {
            display: inline-block;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            margin: 5px;
          }
        
          input:checked + label {
            background-color:#2382C8;
            color: white;
          }
        label{
            color: #444;
        }
    }
    .cart{
        margin-top: 40px;
        border: 1px solid black;
        padding: 20px;
        .name{
            span{
                font-family: "Visby CF", Sans-serif !important;

            }
        }
        .title{
            margin-top: 20px;
            h2{
                font-family: "Visby CF", Sans-serif !important;
                font-size: 1.5em;
                font-weight: 800;
            }
        }
        .text{
            margin-top: 20px;
            p{
                font-family: "Visby CF", Sans-serif !important;
            }
        }
        .button{
            a{
                margin-top: 20px;
                width: 138px;
                height: 60px;
                background-color: #2382C8;
                border-color: #2382C8;
                text-align: center;
                transition: .5s;
                padding-top: 17px;
                color: white;
                font-family: "Visby CF", Sans-serif !important;
                display: inline-block;
                text-decoration: none;
                margin-bottom: 27px;
                &:hover{
                    background-color: #818a91;
                    color: #4a4a4a;
                }
            }
        }
        .dayelse{
            margin-top: 20px;
            span{
                font-family: "Visby CF", Sans-serif !important;

            }
        }
    }
}