#form{
    padding-top: 50px;
    .title{
        text-align: center;
        .upper{
            color: #4A4A4A;

            font-family: "Visby CF", Sans-serif;
            font-size: 50px;
            font-weight: 300;
            text-transform: lowercase;
            line-height: 70px;
            letter-spacing: -1.5px;
        }
        .bottom{
            color: #4A4A4A;

            font-family: "Visby CF", Sans-serif;
            font-size: 50px;
            font-weight: 800;
            text-transform: lowercase;
            line-height: 70px;
            letter-spacing: -1.2px;
        }
        img{
            width: 104px;
            height: 3px;
            object-fit: contain;
        }
    }
    ul{
        padding-top: 50px;
        li{
            margin-left: 30px;
            text-align: center;
            list-style: none;
            .image{
                img{
                    height: 131px;
                    width: 131px;
                    object-fit: contain;
                }
            }
            .title{
                padding-top: 15px;
                h3{
                    font-family: "Lato", Sans-serif;
                    font-size: 16px;
                    font-weight: 900;
                    font-style: normal;
                    line-height: 24px;

                }
            }
            .text{
                padding-top: 10px;

                margin:  0 auto;
                width: 235px;
                font-family: "Visby CF", Sans-serif !important;
            }
        }
    }
}