#third {
    .faq_title {
        padding: 50px;
        h3{
            font-size: 50px;
            font-weight: 800;
            line-height: 70px;
        }
    }

    .accordion_title {
        p {
            font-family: revert;
            font-size: 18px;
            font-weight: 800;
            font-style: normal;
            color: #3232329e;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .accordion {
        border: none;
        box-shadow: none;
        background-color: transparent !important;

        .accordion-item {
            border: none;

            .accordion-header {
                .accordion-button {
                    font-family: revert;
                    font-size: 18px;
                    font-weight: 800;
                    font-style: normal;
                    color: #3232329e;
                    font-size: 24px;
                    background-color: transparent !important;
                    border: none !important;
                    &:focus{
                    border: none !important;
                        box-shadow: none !important;
                        border-color: transparent !important;

                    }
                }
            }

            p {
                font-size: 15px;
            }
        }


    }
}