#second{
    background-color: #F4F5F8;
    .questions{
        padding: 55px;
        .titles{
            h5{
                font-size: 16px;
                font-weight: 700;
            }
        }
        .title{
            p{
                font-size: 14px;
            }
        }
    }
}