.header {
  background-color: #fff;
  padding: 0 50px;
}
.header .container-fluid .row .address p {
  text-align: left;
  color: #323232;
  font-family: visby cf, Sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
}
.header .container-fluid .row .social-icons {
  text-align: center;
}
.header .container-fluid .row .social-icons a {
  text-decoration: none;
}
.header .container-fluid .row .social-icons a i {
  color: black;
  font-size: 15px;
}
.header .container-fluid .row .request_button_wrapper {
  box-sizing: border-box;
  font-size: 18px;
}
.header .container-fluid .row .request_button_wrapper .request {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  line-height: 1;
  background-color: #818a91;
  font-size: 15px;
  padding: 20px 40px;
  border-radius: 3px;
  color: black;
  text-align: center;
  background-color: #f9dd00;
  border-radius: 0 0 0 0;
}
.header .container-fluid .row .request_button_wrapper .request .request_button {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.header .container-fluid .row .searching a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.header .container-fluid .row .searching a i {
  font-size: 15px;
}

.footer {
  border-top: 1px solid rgba(219, 219, 219, 0.32);
  padding: 40px 0px;
}
.footer .footer_ul {
  text-align: justify;
}
.footer .footer_ul h4 {
  color: var(--e-global-color-primary);
  font-family: visby cf, Sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.33em;
}
.footer .footer_ul ul {
  list-style: none;
  padding: 0;
}
.footer .footer_ul ul li a {
  color: #8f8f8f;
  fill: #8f8f8f;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.footer .address_code {
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 0;
  background-color: #f4f5f8;
  text-align: center;
}
.footer .footer_foot p {
  color: gray;
  font-size: 14px;
}
.footer .footer_foot a {
  text-decoration: none;
  color: black;
}

.custom-slider {
  padding: 0;
  overflow: hidden;
}
.custom-slider .slick-slider {
  padding: 0;
}

.container-fluid {
  position: relative;
}
.container-fluid .slider-wrapper {
  position: relative;
}
.container-fluid .slider-wrapper .navbar {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  text-align: center;
}
.container-fluid .slider-wrapper .navbar nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.container-fluid .slider-wrapper .navbar nav ul li {
  margin-right: 20px;
}
.container-fluid .slider-wrapper .navbar nav ul li:last-child {
  margin-right: 0;
}
.container-fluid .slider-wrapper .navbar nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}
.container-fluid .slider-wrapper .navbar nav ul li a:hover {
  color: white;
}
.container-fluid .slider-wrapper .navbar nav ul li a:hover::after {
  height: 2px;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: yellow;
  transition: 0.3s all;
}
.container-fluid .slider-wrapper .navbar nav ul li .dropdown-menu {
  position: absolute;
  top: 97%;
  left: 0;
  background-color: white;
  padding: 10px;
  display: none;
  transition: 0.3s all;
}
.container-fluid .slider-wrapper .navbar nav ul li .dropdown-menu ul {
  list-style: none;
  padding: 0;
  display: block;
}
.container-fluid .slider-wrapper .navbar nav ul li .dropdown-menu ul li {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.container-fluid .slider-wrapper .navbar nav ul li .dropdown-menu ul li a {
  color: black;
}
.container-fluid .slider-wrapper .navbar nav ul li:hover .dropdown-menu {
  display: block;
}
.container-fluid .slider-wrapper .logo {
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 1;
  text-align: center;
}

#educations {
  position: relative;
  padding: 50px;
}
#educations .titles .first h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -1.2px;
  line-height: 24px;
  text-align: start;
}
#educations .titles .second h2 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: start;
}
#educations .border_edu {
  display: flex;
  justify-content: start;
  align-items: center;
}
#educations .border_edu .line {
  height: 4px;
  width: 125px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}
#educations .text {
  margin-top: 20px;
  text-align: left;
  color: gray;
}
#educations .edu_category {
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid #d3d3d5;
  padding: 25px;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
}
#educations .edu_category .edu_title {
  margin-top: 20px;
}
#educations .edu_category:hover {
  transform: scale(1.1);
}

#why {
  padding: 50px;
}
#why .titles {
  text-align: start;
}
#why .titles .first h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -1.2px;
  line-height: 24px;
}
#why .titles .second h2 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.1px;
}
#why .border_edu {
  display: flex;
  justify-content: start;
  align-items: center;
}
#why .border_edu .line {
  height: 4px;
  width: 125px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}
#why .text {
  margin-top: 20px;
  text-align: left;
  color: gray;
}
#why .projects .project_image {
  width: 515px;
}
#why .projects .project_image img {
  width: 100%;
}
#why .projects .base_projects_titles {
  display: flex;
  justify-content: center;
  align-items: center;
}
#why .projects .base_projects_titles .projects_titles {
  margin-left: 40px;
}
#why .projects .base_projects_titles .projects_titles .projects_titles_h3 {
  display: flex;
}
#why .projects .base_projects_titles .projects_titles .projects_titles_h3 h3 {
  font-size: 21px;
  font-weight: 800;
  cursor: pointer;
}
#why .projects .base_projects_titles .projects_titles .texts {
  text-align: start;
}
#why .projects .base_projects_titles .projects_titles .texts p {
  font-size: 14px;
}
#why .projects .base_projects_titles .projects_titles .href {
  display: flex;
  justify-content: start;
  align-items: center;
}
#why .projects .base_projects_titles .projects_titles .href a {
  font-family: Sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.33em;
  cursor: pointer;
}

#clipboard {
  position: relative;
}
#clipboard .clipboard_background {
  background-image: url(https://2022.code.edu.az/wp-content/uploads/2021/09/code-academy-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clipboard .clipboard_background .clipboard_text .clipboard_text_h2 {
  color: white;
  z-index: 5;
}
#clipboard .clipboard_background .clipboard_text .counts {
  display: flex;
  justify-content: space-around;
  z-index: 5;
}
#clipboard .clipboard_background .clipboard_text .counts span {
  color: white;
  font-size: 70px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#clipboard .clipboard_background .clipboard_text .counts p {
  color: white;
  font-size: 35px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 0.8em;
  letter-spacing: -1.5px;
}
#clipboard .background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
}

#studentsCM {
  margin-top: 50px;
}
#studentsCM .titles h2 {
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.5px;
  letter-spacing: 0.5px;
}
#studentsCM .slick-slider {
  margin-top: 20px;
}
#studentsCM .slick-slider .studentsCM-students-text {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5;
}
#studentsCM .slick-slider .stu_name_and_img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#studentsCM .slick-slider .stu_name_and_img .image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
#studentsCM .slick-slider .stu_name_and_img .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
#studentsCM .slick-slider .stu_name_and_img .name_and_profession .name {
  font-weight: 900;
  display: block;
}
#studentsCM .slick-slider .stu_name_and_img .name_and_profession .profession {
  font-family: initial;
  color: gray;
}

#portnyor {
  padding: 50px;
}
#portnyor .titles .first {
  display: flex;
  justify-content: center;
}
#portnyor .titles .first h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -1.2px;
  line-height: 24px;
  text-align: start;
}
#portnyor .titles .second {
  display: flex;
  justify-content: center;
}
#portnyor .titles .second h2 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: start;
}
#portnyor .border_edu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portnyor .border_edu .line {
  height: 4px;
  width: 125px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}
#portnyor .portnyor {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portnyor .portnyor .portnyor_image {
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
}
#portnyor .portnyor .portnyor_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#graduate {
  padding: 50px;
}
#graduate .titles .first {
  display: flex;
  justify-content: center;
}
#graduate .titles .first h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -1.2px;
  line-height: 24px;
  text-align: start;
}
#graduate .titles .second {
  display: flex;
  justify-content: center;
}
#graduate .titles .second h2 {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: start;
}
#graduate .border_edu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#graduate .border_edu .line {
  height: 4px;
  width: 125px;
  border-bottom: 2px solid yellow;
}
#graduate .graduates {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#graduate .graduates .graduates_image {
  width: 172px;
  height: 174px;
}
#graduate .graduates .graduates_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.allhead {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  position: relative;
}
.allhead .navbar {
  position: relative;
  left: 25%;
  transform: translate(0%, 0%);
  z-index: 1;
  text-align: center;
}
.allhead .navbar nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.allhead .navbar nav ul li {
  margin-right: 20px;
}
.allhead .navbar nav ul li:last-child {
  margin-right: 0;
}
.allhead .navbar nav ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s all;
}
.allhead .navbar nav ul li a:hover {
  color: gray;
}
.allhead .navbar nav ul li a:hover::after {
  height: 2px;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: yellow;
  transition: 0.3s all;
}
.allhead .navbar nav ul li .dropdown-menu {
  position: absolute;
  top: 90%;
  left: 0;
  background-color: white;
  padding: 10px;
  display: none;
  transition: 0.3s all;
}
.allhead .navbar nav ul li .dropdown-menu ul {
  list-style: none;
  padding: 0;
  display: block;
}
.allhead .navbar nav ul li .dropdown-menu ul li {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.allhead .navbar nav ul li .dropdown-menu ul li a {
  color: black;
}
.allhead .navbar nav ul li:hover .dropdown-menu {
  display: block;
}
.allhead .logo {
  position: absolute;
  top: 15%;
  left: 6%;
  transform: translate(-6%, -6%);
  width: 125px;
  z-index: 1;
  text-align: center;
}
.allhead .logo a img {
  width: 100%;
}

#allPart .titles .first {
  display: flex;
  justify-content: center;
}
#allPart .titles .first h2 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  letter-spacing: -1.2px;
  line-height: 24px;
  text-align: start;
}
#allPart .titles .second {
  display: flex;
  justify-content: center;
}
#allPart .titles .second h2 pre {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.1px;
  text-align: start;
}
#allPart .border_edu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#allPart .border_edu .line {
  height: 4px;
  width: 75px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}
#allPart .partnyor_ifo {
  margin-top: 80px;
}
#allPart .partnyor_ifo .image {
  width: 250px;
}
#allPart .partnyor_ifo .image img {
  width: 100%;
}
#allPart .partnyor_ifo .partnyor_ifo__text {
  margin-top: 25px;
  margin-bottom: 25px;
}
#allPart .partnyor_ifo .partnyor_ifo__text .elementor-post__title {
  font-size: 20px;
}
#allPart .partnyor_ifo .partnyor_ifo__text .partnyor_ifo__excerpt p {
  color: gray;
  font-size: 15px;
}

section {
  position: relative;
}
section .mainContent {
  background-image: url(https://code.edu.az/wp-content/uploads/2022/04/kor-scaled.jpg);
  background-size: cover;
  width: 100%;
  height: 590px;
  padding: 50px;
}
section .mainContent .title {
  margin-top: 40px;
}
section .mainContent .title h1 {
  color: white;
  font-size: 58px;
  font-weight: 400;
  font-family: "Visby CF", Sans-serif;
}
section .mainContent .text {
  margin-top: 25px;
  width: 575px;
}
section .mainContent .text p {
  font-family: "Visby CF", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: white;
}
section .mainContent .navigation {
  margin-top: 18px;
}
section .mainContent .navigation a {
  font-family: "Visby CF", Sans-serif;
  padding-top: 17px;
  background-color: #FFCD05;
  display: inline-block;
  text-decoration: none;
  color: #323232;
  text-align: center;
  width: 195px;
  height: 60px;
}
section .mainContent .download {
  font-family: "Visby CF", Sans-serif;
  margin-top: 55px;
  margin-left: 15px;
  color: white;
}
section .navbarBottom {
  height: 70px;
  width: 100%;
  background-color: #4A4A4A;
}
section .navbarBottom ul {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .navbarBottom ul li {
  margin-left: 30px;
  list-style: none;
}
section .navbarBottom ul li a {
  font-family: "Visby CF", Sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
section .navbarBottom ul li a:hover {
  color: #FFCD05;
}

#about {
  padding-top: 100px;
}
#about .image {
  width: 93%;
}
#about .image img {
  width: 100%;
}
#about .title-text .title h2 {
  font-family: "Visby CF", Sans-serif;
  color: #333;
  font-size: 50px;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.2px;
}
#about .title-text .subTitle h2 {
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.5px;
}
#about .title-text .texts .firstText {
  margin-top: 20px;
}
#about .title-text .texts .firstText p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: visby cf, Sans-serif !important;
}
#about .title-text .texts .secondText p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: visby cf, Sans-serif !important;
}

#aboutKorporativ {
  padding-top: 100px;
}
#aboutKorporativ .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutKorporativ .title .first {
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.5px;
}
#aboutKorporativ .title .second {
  margin-left: 15px;
  font-family: "Visby CF", Sans-serif;
  color: #333;
  font-size: 50px;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.2px;
}
#aboutKorporativ .titleTextKar {
  padding-top: 10px;
  text-align: center;
}
#aboutKorporativ .titleTextKar p {
  color: #929292;
  font-size: 15px;
  width: 605px;
  margin: 0 auto;
}
#aboutKorporativ .mainContentKorp {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
#aboutKorporativ .mainContentKorp ul {
  width: 280px;
  padding: 0;
}
#aboutKorporativ .mainContentKorp ul li {
  margin-right: 20px;
  list-style: none;
}
#aboutKorporativ .mainContentKorp ul li .imageAb img {
  width: 76px;
  height: 58px;
  -o-object-fit: contain;
     object-fit: contain;
}
#aboutKorporativ .mainContentKorp ul li .titleMain h2 {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 28.98px;
}
#aboutKorporativ .mainContentKorp ul li .textMain p {
  color: #929292;
}

#solwing {
  padding-top: 100px;
  padding-bottom: 100px;
}
#solwing .title {
  display: flex;
}
#solwing .title .left {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.5px;
}
#solwing .title .right {
  margin-left: 15px;
  color: #4a4a4a;
  font-size: 50px;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 60px;
  letter-spacing: -1.2px;
}
#solwing .accordion {
  border: none;
  box-shadow: none;
  background-color: transparent !important;
}
#solwing .accordion .accordion-item {
  border: none;
}
#solwing .accordion .accordion-item .accordion-header .accordion-button {
  font-family: revert;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  color: rgba(50, 50, 50, 0.6196078431);
  font-size: 24px;
  background-color: transparent !important;
  border: none !important;
}
#solwing .accordion .accordion-item .accordion-header .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
#solwing .accordion .accordion-item p {
  font-size: 15px;
}
#solwing .rightSide .image img {
  width: 100%;
  height: 304px;
  -o-object-fit: contain;
     object-fit: contain;
}

#reviews {
  padding: 60px;
  background-color: #ffcd05;
}
#reviews .firstCart, #reviews .secondCart {
  position: relative;
}
#reviews .firstCart .cartText, #reviews .secondCart .cartText {
  height: 274px;
  text-align: center;
  padding: 40px;
  background-color: white;
}
#reviews .firstCart .cartText .titleCart, #reviews .secondCart .cartText .titleCart {
  margin-bottom: 10px;
}
#reviews .firstCart .cartText .textCart, #reviews .secondCart .cartText .textCart {
  color: #929292;
}
#reviews .firstCart .emptyDiv, #reviews .secondCart .emptyDiv {
  right: 50%;
  bottom: 93px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotateZ(45deg);
}
#reviews .firstCart .person, #reviews .secondCart .person {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reviews .firstCart .person .image img, #reviews .secondCart .person .image img {
  border-radius: 50px;
  width: 70px;
}
#reviews .firstCart .person .name-work, #reviews .secondCart .person .name-work {
  margin-left: 15px;
}

#logos {
  padding-top: 60px;
  padding-bottom: 60px;
}
#logos .titleLogos {
  text-align: center;
}
#logos .titleLogos .upper {
  color: #4A4A4A;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#logos .titleLogos .bottom {
  color: #4A4A4A;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
}
#logos .images_cmp img {
  width: 110px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}

#Contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F7F7F7;
}
#Contact .textsContact .title .upper {
  width: 313px;
  margin: 0;
  color: #4A4A4A;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#Contact .textsContact .title .bottom {
  font-family: "Visby CF", Sans-serif;
  color: #4A4A4A;
}
#Contact .textsContact .text {
  margin-top: 20px;
  color: #929292;
  line-height: 26px;
}
#Contact form input, #Contact form select {
  border-color: transparent !important;
  border: none !important;
  padding: 20px 7px;
}
#Contact form .name {
  height: 60px;
  width: 43%;
}
#Contact form .name:focus-visible {
  border: 1px solid rgb(219, 4, 4) !important;
}
#Contact form .surname {
  height: 60px;
  margin-left: 14px;
  width: 43%;
}
#Contact form .prefics {
  height: 60px;
  margin-top: 10px;
  height: 60px;
  width: 22%;
}
#Contact form .number {
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
  width: 65%;
}
#Contact form .email {
  height: 60px;
  margin-top: 10px;
  width: 90%;
}
#Contact form .company {
  height: 60px;
  margin-top: 10px;
  width: 90%;
}
#Contact form .vezife {
  margin-top: 10px;
  height: 60px;
  width: 90%;
}
#Contact form .count {
  margin-top: 10px;
  height: 60px;
  width: 90%;
}
#Contact form .textArea {
  border: none;
  margin-top: 10px;
}
#Contact form button {
  width: 379px;
  height: 50px;
  background-color: #ffcd05;
  border: none;
  color: #323232;
  font-weight: 700;
}

#first {
  padding: 50px;
}
#first .titles .first {
  display: flex;
  justify-content: start;
}
#first .titles .first h2 {
  font-size: 60px;
  font-weight: 100;
  text-transform: lowercase;
  line-height: 50px;
  text-align: start;
}
#first .titles .second {
  display: flex;
  justify-content: start;
}
#first .titles .second h2 {
  font-size: 60px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 50px;
  text-align: start;
}
#first .border_edu {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 21px 0 21px 50px;
}
#first .border_edu .line {
  height: 4px;
  width: 125px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}
#first .text {
  margin-top: 50px;
  width: 75%;
}
#first .text h4 {
  font-size: 14px;
}
#first .text .address {
  font-size: 12px;
  line-height: 0px;
}

#second {
  background-color: #F4F5F8;
}
#second .questions {
  padding: 55px;
}
#second .questions .titles h5 {
  font-size: 16px;
  font-weight: 700;
}
#second .questions .title p {
  font-size: 14px;
}

#request .titles {
  margin-top: 20px;
  margin-bottom: 20px;
}
#request .titles h4 {
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #494949;
}
#request .titles p {
  font-family: math;
}
#request .image {
  width: 95%;
}
#request .image img {
  width: 100%;
}
#request form input,
#request form select {
  border: 1px solid #D3D3D5;
  padding: 20px 7px;
  margin-bottom: 10px;
}
#request form .name {
  width: 100%;
}
#request form .surname {
  width: 100%;
}
#request form .prefics {
  width: 100%;
}
#request form .number {
  width: 100%;
}
#request form .email {
  width: 100%;
}
#request form .company {
  width: 100%;
}
#request form .vezife {
  width: 100%;
}
#request form .count {
  width: 100%;
}
#request form .textArea {
  border: 1px solid #D3D3D5;
  width: 100%;
}
#request form button {
  height: 65px;
  width: 100%;
  background-color: #ffcd05;
  border: none;
  color: #323232;
  font-weight: 700;
}

#first .images {
  width: 100%;
}
#first .images img {
  width: 100%;
}
#first .titles_image {
  padding: 30px;
}
#first .titles_image h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #494949;
}
#first .titles_image p {
  font-size: 24px;
  font-weight: 500;
  line-height: 10px;
}
#first .left {
  padding: 50px;
}
#first .left .titles .first {
  display: flex;
  justify-content: start;
}
#first .left .titles .first h2 {
  font-size: 60px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
}
#first .border_edu {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 21px 0 21px 50px;
}
#first .border_edu .line {
  height: 4px;
  width: 105px;
  background-image: url(https://code.edu.az/wp-content/uploads/2021/07/sep-line.png);
}

#second {
  padding: 50px;
  background-color: white;
}
#second .images {
  position: relative;
  cursor: pointer;
}
#second .images:hover .bg {
  opacity: 1;
  pointer-events: auto;
}
#second .images:hover img {
  transform: scale(1.2);
}
#second .images img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#third {
  background-color: #F4F5F8;
  padding: 50px;
}
#third .base_title {
  padding: 30px;
}
#third .base_title h4 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  color: #494949;
}
#third .comp {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#third .comp .images {
  border-radius: 50%;
  padding: 32px;
  width: 130px;
  background: white;
}
#third .comp .titles {
  margin: 15px;
}
#third .comp .titles .titles_h5 h5 {
  font-size: 21px;
  font-weight: 800;
  font-style: normal;
  color: #494949;
}
#third .comp .titles p {
  color: #494949;
  font-size: 14px;
}

#first {
  padding-top: 50px;
}
#first .image img {
  width: 670px;
  height: 353px;
  -o-object-fit: contain;
     object-fit: contain;
}
#first .title-text {
  margin-top: 100px;
}
#first .title-text .title h2 {
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 0.9em;
  letter-spacing: -2px;
  color: #4a4a4a;
}
#first .title-text .text {
  margin-top: 10px;
}
#first .title-text .text p {
  font-family: "Visby CF", Sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

#second {
  padding-top: 50px;
}
#second .optional {
  width: 310px;
}
#second .optional .image {
  text-align: center;
}
#second .optional .image img {
  width: 310px;
  height: 255px;
  -o-object-fit: contain;
     object-fit: contain;
}
#second .optional .date {
  padding: 10px 10px 0px 10px;
}
#second .optional .date span {
  color: #323232;
  font-weight: 700;
  font-size: 22px;
}
#second .optional .text {
  padding: 10px 10px 10px 10px;
}
#second .optional .text p {
  color: #9c9c9c;
}

#third {
  background-color: white;
}
#third .title h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#third .text {
  color: #9c9c9c;
  font-size: 16px;
}

#four {
  padding: 40px;
}
#four .about {
  padding: 40px 60px;
  background-color: #F4F5F8;
}
#four .about .title .upper {
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -1.5px;
  color: #4a4a4a;
}
#four .about .title .bottom {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -1.5px;
}
#four .about .text {
  width: 506px;
}
#four .about .text p {
  margin: 40px 0px 0px 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575757;
}
#four .about ul {
  margin-top: 30px;
}
#four .about ul li {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575757;
}
#four .about .certificate a {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  color: black;
}
#four .image img {
  width: 550px;
  height: 526px;
  -o-object-fit: cover;
     object-fit: cover;
}

#four {
  padding: 40px;
}
#four .about {
  padding: 40px 60px;
  background-color: #F4F5F8;
}
#four .about .title .upper {
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -1.5px;
  color: #4a4a4a;
}
#four .about .title .bottom {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -1.5px;
}
#four .about .text {
  width: 506px;
}
#four .about .text p {
  margin: 40px 0px 0px 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575757;
}
#four .about ul {
  margin-top: 30px;
}
#four .about ul li {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575757;
}
#four .about .certificate a {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  color: black;
}
#four .image img {
  width: 550px;
  height: 526px;
  -o-object-fit: cover;
     object-fit: cover;
}

#first {
  padding-top: 40px;
}
#first .title .upper {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#first .title .bottom {
  color: #4a4a4a;
  line-height: 3px;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: -1.5px;
  margin-left: 43px;
}
#first .logo {
  padding-bottom: 20px;
}
#first .text {
  color: #8b8b8b;
}

#second {
  padding-top: 50px;
}
#second .about {
  display: flex;
  justify-content: start;
}
#second .about .image {
  text-align: center;
}
#second .about .image img {
  width: 208px;
  height: 208px;
  -o-object-fit: contain;
     object-fit: contain;
}
#second .about .title-text .title a {
  font-size: 18px;
  color: black;
  font-weight: 700;
  font-family: visby cf, Sans-serif !important;
  text-decoration: none;
}
#second .about .title-text .text {
  font-family: visby cf, Sans-serif !important;
  margin-top: 10px;
  color: #8b8b8b;
}
#second .about .title-text .other a {
  color: black;
  font-weight: 700;
  font-family: visby cf, Sans-serif !important;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

#third {
  padding-top: 50px;
}
#third .title {
  text-align: center;
}
#third .title .upper {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 0px;
  letter-spacing: -1.5px;
}
#third .title .bottom {
  line-height: 0.6rem;
  color: #4a4a4a;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#third .title img {
  margin-top: 20px;
}
#third ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#third ul li {
  list-style: none;
}
#third ul li .title {
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.33em;
}
#third ul li .text {
  text-align: center;
  color: #a1a1a1;
}
#third .logoSVG {
  display: flex;
  justify-content: center;
  align-items: center;
}
#third .logo_title h2 {
  font-size: 21px;
  font-weight: 800;
  font-style: normal;
  color: #675850;
}

#second .title {
  text-align: center;
}
#second .title h4 {
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
}
#second .category p {
  font-size: 15px;
  font-weight: 800;
}
#second .story .image img {
  border-radius: 50%;
}
#second .story .abouts {
  line-height: 5px;
  margin-top: 30px;
}
#second .story .abouts .fullname {
  font-weight: 900;
}

#first {
  padding-top: 50px;
}
#first .image img {
  width: 550px;
  height: 550px;
  -o-object-fit: contain;
     object-fit: contain;
}
#first .title-text .title .upper {
  line-height: 20px;
  color: #323232;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -2px;
}
#first .title-text .title .bottom {
  color: #323232;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -2px;
}
#first .title-text .title p {
  font-family: "Visby CF", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#first .title-text .text p {
  padding-left: 50px;
  padding-top: 25px;
  color: #323232;
  font-family: "Visby CF", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

#second {
  padding-top: 40px;
}
#second .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#second .title h2 {
  color: #4A4A4A;
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  line-height: 25.2px;
  width: 190px;
}
#second .chat {
  padding-top: 30px;
}
#second .chat .leftside {
  text-align: start;
}
#second .chat .leftside .text p {
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.33em;
}
#second .chat .leftside .image img {
  width: 104px;
  height: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
#second .chat .rightside {
  text-align: start;
}
#second .chat .rightside .text p {
  color: #8b8b8b;
  font-family: "Visby CF", Sans-serif !important;
}

#third {
  padding-top: 100px;
}
#third .images {
  display: flex;
  justify-content: center;
  align-items: center;
}
#third .images .oddImage {
  position: relative;
  bottom: 127px;
}
#third .images .oddImage img {
  width: 378px;
  height: 309px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}
#third .images .evenImages .upper img {
  width: 244px;
  height: 162px;
  -o-object-fit: contain;
     object-fit: contain;
}
#third .images .evenImages .bottom {
  margin-top: 20px;
}
#third .images .evenImages .bottom img {
  width: 244px;
  height: 244px;
  -o-object-fit: contain;
     object-fit: contain;
}
#third .title-text .title .upper {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.04em;
  letter-spacing: -1.5px;
}
#third .title-text .title .bottom {
  font-family: "Visby CF", Sans-serif !important;
  color: #4a4a4a;
  font-size: 60px;
  font-weight: 300;
}
#third .title-text .text p {
  color: #aaaaaa;
  margin: 30px 0px 0px 50px;
}
#third .title-text .navDesighn p {
  font-weight: 600;
  font-family: "Visby CF", Sans-serif !important;
  margin: 30px 0px 0px 50px;
  color: #FFCD05;
}

#fourth {
  padding-top: 50px;
}
#fourth .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fourth .title h2 {
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: lowercase;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#fourth ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#fourth ul li {
  padding-top: 20px;
  width: 380px;
  list-style: none;
  text-align: center;
}
#fourth ul li .image img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
#fourth ul li .aboutPerson {
  padding-top: 10px;
}
#fourth ul li .aboutPerson .name {
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1.5px;
}
#fourth ul li .aboutPerson .surname {
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -1.5px;
}
#fourth ul li .speciality {
  margin: 0 auto;
  width: 285px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
#fourth ul li .ugur {
  color: rgba(135, 40, 145, 0.8);
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
#fourth ul li .uguryellow {
  color: #FFCD05;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

#first {
  padding-top: 50px;
}
#first .title h1 {
  font-family: visby cf, Sans-serif;
  font-size: 60px;
  font-weight: 800;
  font-style: normal;
  line-height: 0.9em;
}
#first .text-image .image {
  padding-bottom: 20px;
}
#first .text-image .image img {
  width: 104px;
  height: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
#first .text-image .text p {
  color: #aaa9a9;
  font-family: "Visby CF", Sans-serif !important;
}

#second {
  padding-top: 40px;
}
#second .firstCart {
  border: 1px solid black;
  padding: 40px;
  width: 550px;
  height: 372px;
}
#second .firstCart .title_PRo {
  text-align: start !important;
}
#second .firstCart .title_PRo h2 {
  font-family: "Visby CF", Sans-serif !important;
  font-weight: 600;
  font-size: 20px;
}
#second .firstCart .text {
  margin-top: 20px;
}
#second .firstCart .text p {
  font-family: "Visby CF", Sans-serif !important;
}
#second .firstCart .button a {
  margin-top: 75px;
  width: 138px;
  height: 60px;
  background-color: #2382C8;
  border-color: #2382C8;
  text-align: center;
  transition: 0.5s;
  padding-top: 17px;
  color: white;
  font-family: "Visby CF", Sans-serif !important;
  display: inline-block;
  text-decoration: none;
}
#second .firstCart .button a:hover {
  background-color: #818a91;
  color: #4a4a4a;
}
#second .firstCart .buttonSecond a {
  margin-top: 123px;
  width: 138px;
  height: 60px;
  background-color: #2382C8;
  border-color: #2382C8;
  text-align: center;
  transition: 0.5s;
  padding-top: 17px;
  color: white;
  font-family: "Visby CF", Sans-serif !important;
  display: inline-block;
  text-decoration: none;
}
#second .firstCart .buttonSecond a:hover {
  background-color: #818a91;
  color: #4a4a4a;
}

#education {
  padding: 50px;
}
#education .title h1 {
  font-family: "Visby CF", Sans-serif !important;
  font-size: 36px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#education form {
  margin-top: 20px;
}
#education form input {
  display: none;
}
#education form input + label {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}
#education form input:checked + label {
  background-color: #2382C8;
  color: white;
}
#education form label {
  color: #444;
}
#education .cart {
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px;
}
#education .cart .name span {
  font-family: "Visby CF", Sans-serif !important;
}
#education .cart .title {
  margin-top: 20px;
}
#education .cart .title h2 {
  font-family: "Visby CF", Sans-serif !important;
  font-size: 1.5em;
  font-weight: 800;
}
#education .cart .text {
  margin-top: 20px;
}
#education .cart .text p {
  font-family: "Visby CF", Sans-serif !important;
}
#education .cart .button a {
  margin-top: 20px;
  width: 138px;
  height: 60px;
  background-color: #2382C8;
  border-color: #2382C8;
  text-align: center;
  transition: 0.5s;
  padding-top: 17px;
  color: white;
  font-family: "Visby CF", Sans-serif !important;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 27px;
}
#education .cart .button a:hover {
  background-color: #818a91;
  color: #4a4a4a;
}
#education .cart .dayelse {
  margin-top: 20px;
}
#education .cart .dayelse span {
  font-family: "Visby CF", Sans-serif !important;
}

#first {
  padding-top: 50px;
}
#first .image {
  text-align: center;
}
#first .image img {
  width: 402px;
  height: 398px;
  -o-object-fit: contain;
     object-fit: contain;
}
#first .title-text {
  margin-top: 30px;
}
#first .title-text .title .upper {
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: -2px;
  color: #323232;
}
#first .title-text .title .bottom {
  font-family: "Visby CF", Sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -2px;
  color: #323232;
}
#first .chat {
  padding-top: 30px;
}
#first .chat .leftside {
  text-align: end;
}
#first .chat .leftside .text p {
  font-family: "Visby CF", Sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.33em;
}
#first .chat .leftside .image {
  text-align: center;
}
#first .chat .leftside .image img {
  width: 104px;
  height: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}
#first .chat .rightside {
  text-align: start;
}
#first .chat .rightside .text p {
  color: #8b8b8b;
  font-family: "Visby CF", Sans-serif !important;
}

#second {
  padding-top: 150px;
}
#second .titleCart {
  text-align: center;
}
#second .titleCart h1 {
  font-family: "Visby CF", Sans-serif !important;
  font-size: 36px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: -1.2px;
}
#second .cart {
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px;
}
#second .cart .name span {
  font-family: "Visby CF", Sans-serif !important;
}
#second .cart .title {
  margin-top: 20px;
}
#second .cart .title h2 {
  font-family: "Visby CF", Sans-serif !important;
  font-size: 1.5em;
  font-weight: 800;
}
#second .cart .text {
  margin-top: 20px;
}
#second .cart .text p {
  font-family: "Visby CF", Sans-serif !important;
}
#second .cart .button {
  text-align: end;
}
#second .cart .button a {
  margin-top: 20px;
  width: 138px;
  height: 60px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  transition: 0.5s;
  padding-top: 17px;
  color: #4a4a4a;
  font-family: "Visby CF", Sans-serif !important;
  display: inline-block;
  text-decoration: none;
}
#second .cart .button a:hover {
  background-color: #818a91;
  color: #4a4a4a;
}
#second .cart .dayelse {
  margin-top: 20px;
}
#second .cart .dayelse span {
  font-family: "Visby CF", Sans-serif !important;
}

body {
  overflow-x: hidden;
}