#first {
    padding-top: 50px;

    .image {
        text-align: center;

        img {
            width: 402px;
            height: 398px;
            object-fit: contain;
        }
    }

    .title-text {
        margin-top: 30px;

        .title {
            .upper {
                font-family: "Visby CF", Sans-serif;
                font-size: 60px;
                font-weight: 800;
                line-height: 72px;
                letter-spacing: -2px;
                color: #323232;
            }

            .bottom {
                font-family: "Visby CF", Sans-serif;
                font-size: 60px;
                font-weight: 300;
                line-height: 72px;
                letter-spacing: -2px;
                color: #323232;

            }
        }
    }

    .chat {
        padding-top: 30px;

        .leftside {
            text-align: end;

            .text {
                p {
                    font-family: "Visby CF", Sans-serif;
                    font-size: 21px;
                    font-weight: 800;
                    font-style: normal;
                    line-height: 1.33em
                }
            }

            .image {
                text-align: center;

                img {
                    width: 104px;
                    height: 3px;
                    object-fit: contain;
                }
            }

        }

        .rightside {
            text-align: start;

            .text {
                p {
                    color: #8b8b8b;
                    font-family: "Visby CF", Sans-serif !important
                }
            }
        }
    }
}
